<div class="animated fadeIn">


    <h1>{{title}}</h1>
    <div *ngIf="options?.length">
        <div *ngFor="let option of options; let i = index">
            <div class="row">
                <div class="col-md-12">
                    <chart id="{{option?.endpoint?.title}}" style="width: 100% !important; display: block"
                           [options]="option?.option">
                    </chart>
                </div>
            </div>
            <br>
        </div>
    </div>

    <div class="row">
        <div *ngIf="superType && (superType === 'Index' || superType === 'All')">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    {{selectedSector ? selectedSector : 'Select Sector'}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item" *ngFor="let opt of plotSectorStrengthOptions"
                            (click)="selectedSector = opt; getPlotSectorStrength()">{{opt}}
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="superType && superType === 'Sector'">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>
                    {{selectedIndex ? selectedIndex : 'Select Index'}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item" (click)="selectedIndex = 'All'; getPlotSectorStrength(selectedIndex, selectedSector)">
                        All
                    </button>
                    <button class="dropdown-item" *ngFor="let opt of plotSectorStrengthOptions"
                            (click)="selectedIndex = opt; getPlotSectorStrength()">{{opt}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="plotSectorStrength?.series?.length">
        <chart id="Plot Sector Strength" style="width: 100% !important; display: block"
               [options]="plotSectorStrength">
        </chart>
    </div>


    <br>
    <br>
    <br>
    <h1 *ngIf="sectorGrid?.length">{{dateTitle}}</h1>
    <button class="btn btn-primary" (click)="downloadSectorGrid()" *ngIf="sectorGrid?.length">Download</button>
    <div class="row" *ngIf="sectorGrid?.length">
        <div class="col-12">
            <ngx-datatable [selectionType]="'single'" [loadingIndicator]="loading"
                           [headerHeight]="50" [rowHeight]="50" class="material" [rows]="sectorGrid">
                <ngx-datatable-column prop="Sector" [width]="270"></ngx-datatable-column>
                <ngx-datatable-column prop="RelativeStrength">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value | number: '1.2-3'}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="OffensiveStrength">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value | number: '1.2-3'}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="DefensiveStrength">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value | number: '1.2-3'}}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>

    <br>
    <br>
    <br>



    <h1>{{dateTitle}}</h1>
    <button class="btn btn-primary" (click)="downloadSymbolGrid()" *ngIf="symbolGrid?.length">Download</button>
    <br>
    <br>
    <div class="row" *ngIf="symbolGrid?.length">
        <div class="cold-md-12">
            <ngx-datatable #tbl [selectionType]="'single'" [loadingIndicator]="loading" (select)="redirectToUrl($event)"
                           [headerHeight]="50" [rowHeight]="50" class="material" [rows]="symbolGrid" [rowClass]="rowClass">

                <ngx-datatable-column (activate)="redirectToUrl($event)" prop="Ticker">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div [style.background-color]="row.rgb">{{value}}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="Name" [width]="270">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div [style.background-color]="row.rgb">{{value}}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="Sector">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div [style.background-color]="row.rgb">{{value}}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="RelativeStrength">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div  [style.background-color]="row.rgb">{{value | number: '1.2-3'}}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="OffensiveStrength">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div [style.background-color]="row.rgb">{{value | number: '1.2-3'}}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="DefensiveStrength">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div [style.background-color]="row.rgb">{{value | number: '1.2-3'}}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="ClosePrice">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div [style.background-color]="row.rgb"> {{value | number: '1.2-2'}}</div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
