<div class="animated fadeIn">



    <h1>{{title}}</h1>


    <div class="row">
        <div class="col-12">
            <chart id="chart2" style="width: 100% !important; display: block" [options]="options2"></chart>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <chart id="chart" style="width: 100% !important; display: block" [options]="options"></chart>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <chart id="chart1" style="width: 100% !important; display: block" [options]="options1"></chart>
        </div>
    </div>
    <br>

    <br>
    <br>
    <br>

    <h1>{{dateTitle}}</h1>
    <div class="row">
        <table class="table table-striped">
            <th>
                <button class="btn btn-primary">Ticker</button>
            </th>
            <th>
                <button class="btn btn-primary">Relative Strength</button>
            </th>
            <th>
                <button class="btn btn-primary">Offensive Strength</button>
            </th>
            <th>
                <button class="btn btn-primary">Defensive Strength</button>
            </th>
            <th>
                <button class="btn btn-primary">Close Price</button>
            </th>
            <tr *ngFor="let sym of symbolGrid">
                <td>{{sym.Ticker}}</td>
                <td>{{sym.RelativeStrength | number : '1.2-3'}}</td>
                <td>{{sym.OffensiveStrength | number: '1.2-3'}}</td>
                <td>{{sym.DefensiveStrength | number: '1.2-3'}}</td>
                <td>{{sym.ClosePrice | number: '1.2-2'}}</td>
            </tr>
        </table>
    </div>

</div>
